# Copier ce fichier en .env et remplir les valeurs
DJANGO_SETTINGS_MODULE=config.settings.development
DEBUG=True
SECRET_KEY=<générer-avec-get_random_secret_key>
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=mysql://user:password@localhost:3310/library_db